@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Water+Brush&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playwrite US Modern", cursive;
  color: #fff;
  text-align: left;
}

h1 {
  font-family: "Water Brush", cursive;
  font-weight: 700;
  font-size: 120px;
  margin-bottom: 30px;
  text-shadow: 0 0 5px #aef6fe;
}

img {
  max-width: 100%;
}

.pr-100 {
  padding-right: 100px;
}

.custBtn {
  padding: 10px 50px;
  background-image: linear-gradient(#fff, #aef6fe, #000);
  background-size: 100% 200%;
  background-position: top;
  border-radius: 999px 0 999px 0;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.custBtn:hover {
  color: #fff;
  background-position: bottom;
  box-shadow: 2px 2px 2px #fff, -2px -2px 2px #aef6fe;
}

.headPara {
  font-family: "Water Brush", cursive;
  font-size: 50px;
  color: #aef6fe;
}

.bannerCont {
  width: clamp(360px, 80%, 650px);
  margin-right: auto;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.bubblePic {
  position: relative;
  animation: bubble 3s infinite alternate ease-in-out;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
}
.bubblePic img {
  width: 100%;
}

.bubblePicDiv {
  position: relative;
  margin: 50px 0;
}
.bubblePicDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #aef6fe;
  width: 100%;
  height: 100%;
  animation: bubble 3s infinite alternate ease-in-out;
  transform: rotate(140deg);
  opacity: 0.5;
}
.bubblePicDiv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  animation: bubble 3s infinite alternate ease-in-out;
  transform: rotate(70deg);
  opacity: 0.7;
}

@keyframes bubble {
  0% {
    border-radius: 60% 70% 80% 54%;
  }
  50% {
    border-radius: 80% 60% 50% 70%;
  }
  100% {
    border-radius: 70% 64% 60% 40%;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1 {
  background-image: url("https://webgrity-657253448.imgix.net/cover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.slide2 {
  background-image: url("https://webgrity-657253448.imgix.net/cover2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.slide3 {
  background-image: url("https://webgrity-657253448.imgix.net/cover3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.slide4 {
  background-image: url("https://webgrity-657253448.imgix.net/cover4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.anim-slide1 {
  background-image: url("https://webgrity-657253448.imgix.net/cover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.anim-slide2 {
  background-image: url("https://webgrity-657253448.imgix.net/cover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  margin-bottom: 0 !important;
  height: 100vh;
}

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
}

.swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  display: flex !important;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  background: transparent !important;
  color: #fff;
  padding: 5px;
  position: relative;
  opacity: 1;
  border-radius: 999px 0 999px 0;
  box-shadow: 0 0 5px #aef6fe;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.swiper-pagination-bullet .nav-ico {
  transition: all 0.3s ease-in-out;
  padding: 15px 25px;
  min-width: 15px;
  background-color: transparent !important;
  box-shadow: 0 0 5px #aef6fe;
  border-radius: 999px 0 999px 0;
  font-size: 20px;
}
.swiper-pagination-bullet .nav-text {
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet:hover {
  background-color: transparent !important;
}
.swiper-pagination-bullet:hover .nav-ico {
  box-shadow: 0 0 5px #aef6fe;
  box-shadow: none;
}
.swiper-pagination-bullet:hover .nav-text {
  margin: 0 25px 0 10px;
  max-width: 100%;
  font-weight: 700;
}

.swiper-pagination-bullet-active .nav-ico {
  color: #000;
  background-color: #fff !important;
  box-shadow: none;
}

.nav-text {
  transition: all 0.3s ease-in-out;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */