@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Water+Brush&display=swap');

// font-family: "Playwrite US Modern", cursive;
// font-family: "Water Brush", cursive;

$white: #fff;
$black: #000;
$sky: #aef6fe;

@mixin flex($jus: center, $cen: center) {
    display: flex;
    justify-content: $jus;
    align-items: $cen;
}

@mixin background($background) {
    background-image: url($background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

@mixin trans($time: 0.3s) {
    transition: all $time ease-in-out;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Playwrite US Modern", cursive;
    color: $white;
    text-align: left;
}

h1 {
    font-family: "Water Brush", cursive;
    font-weight: 700;
    font-size: 120px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px $sky;
}

img {
    max-width: 100%;
}

.pr-100 {
    padding-right: 100px;
}

.custBtn {
    padding: 10px 50px;
    background-image: linear-gradient($white, $sky, $black);
    background-size: 100% 200%;
    background-position: top;
    border-radius: 999px 0 999px 0;
    color: $black;
    text-decoration: none;
    font-weight: 700;
    margin-top: 30px;
    display: inline-block;
    @include trans();
    // cursor: pointer;

    &:hover {
        color: $white;
        background-position: bottom;
        box-shadow: 2px 2px 2px $white,
            -2px -2px 2px $sky;
        cursor: none;
    }
}

.headPara {
    font-family: "Water Brush", cursive;
    font-size: 50px;
    color: $sky;
}

.bannerCont {
    width: clamp(360px, 80%, 650px);
    margin-right: auto;
    @include flex(start, flex-start);
    flex-direction: column;
    margin-left: 20px;
    position: relative;
}

.bubblePic {
    position: relative;
    animation: bubble 3s infinite alternate ease-in-out;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    aspect-ratio: 1/1;

    img {
        width: 100%;
    }
}

.waterBall {
    position: relative;
    animation: bubble 3s infinite alternate ease-in-out;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    aspect-ratio: 1/1;

    img {
        width: 100%;
    }
}

.waterBall2 {
    position: relative;
    animation: bubble2 3s infinite alternate ease-in-out;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    aspect-ratio: 1/1;

    img {
        width: 100%;
    }
}

.bubblePicDiv {
    position: relative;
    margin: 50px 0;
    animation: bounce 3s infinite alternate ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $sky;
        width: 100%;
        height: 100%;
        animation: bubble 3s infinite alternate ease-in-out;
        transform: rotate(140deg);
        opacity: 0.5;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        width: 100%;
        height: 100%;
        animation: bubble 3s infinite alternate ease-in-out;
        transform: rotate(70deg);
        opacity: 0.7;
    }
}

@keyframes bubble {
    0% {
        border-radius: 60% 70% 80% 54%;
    }

    50% {
        border-radius: 80% 60% 50% 70%;
    }

    100% {
        border-radius: 70% 64% 60% 40%;
    }
}

@keyframes bubble2 {
    0% {
        border-radius: 80% 60% 50% 70%;
    }

    50% {
        border-radius: 70% 64% 60% 40%;
    }

    100% {
        border-radius: 60% 70% 80% 54%;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust the bounce height as needed */
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex();
}

.content {
    height: 80vh;
    overflow: auto;
    @include flex();
}

.slide1 {
    @include background('https://webgrity-657253448.imgix.net/cover1.jpg');
}

.slide2 {
    @include background('https://webgrity-657253448.imgix.net/cover2.jpg');
}

.slide3 {
    @include background('https://webgrity-657253448.imgix.net/cover3.jpg');
}

.slide4 {
    @include background('https://webgrity-657253448.imgix.net/cover4.jpg');
}

.anim-slide1 {
    @include background('https://webgrity-657253448.imgix.net/cover1.jpg');
}

.anim-slide2 {
    @include background('https://webgrity-657253448.imgix.net/cover1.jpg');
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    margin-bottom: 0 !important;
    height: 100vh;
}

.swiper-pagination {
    @include flex(flex-end, end);
    flex-direction: column;
}

.swiper-pagination-bullet {
    @include flex();
    @include trans();
    display: flex !important;
    width: fit-content;
    height: auto;
    background: transparent !important;
    color: $white;
    padding: 5px;
    position: relative;
    opacity: 1;
    border-radius: 999px 0 999px 0;
    box-shadow: 0 0 5px $sky;
    backdrop-filter: blur(10px);

    .nav-ico {
        @include trans();
        padding: 15px 25px;
        min-width: 15px;
        background-color: transparent !important;
        box-shadow: 0 0 5px $sky;
        border-radius: 999px 0 999px 0;
        font-size: 20px;
    }

    .nav-text {
        @include trans();
    }

    &:hover {
        background-color: transparent !important;

        .nav-ico {
            box-shadow: 0 0 5px $sky;
            box-shadow: none;
        }

        .nav-text {
            margin: 0 25px 0 10px;
            max-width: 100%;
            font-weight: 700;
        }
    }
}

.swiper-pagination-bullet-active {
    .nav-ico {
        color: $black;
        background-color: $white !important;
        box-shadow: none;
    }
}

.nav-text {
    @include trans();
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
}


// custom cursor
body {
    cursor: none;
    overflow: hidden;
}

a {
    cursor: none;

    &:hover {
        cursor: none;
    }
}

.swiper-pagination-bullet {
    cursor: none !important;
}

.custCur {
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    z-index: 9991;
    pointer-events: none;
    transform-origin: center;


}

.custCur2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: solid 2px $white;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    z-index: 999;
    transform: translate(0, 0);
    backdrop-filter: blur(2px);
}



// .main-ani {
//     position: fixed;
//     width: 100%;
//     background-color: #0004fe;
//     z-index: 1;
//     height: calc(100vh + 20px);
//     animation: anim 2s ease-in-out;
//     transition: all 1s ease-in-out;
// }

// @keyframes anim {
//     0% {
//         bottom: -20px;
//         border-radius: 100vw 100vw 0 0;
//         transform: rotateX(90deg);
//         transform-origin: bottom;
//     }
//     // 25%{
//     //     transform: rotateX(0deg);
//     // }

//     50% {
//         bottom: 0;
//         transform: rotateX(0deg);
//         border-radius: 0;
//     }
//     // 75%{
//     //     transform: rotateX(0deg);
//     // }

//     100% {
//         top: -20px;
//         transform: rotateX(90deg);
//         transform-origin: top;
//         border-radius: 0 0 100vw 100vw;
//     }

// }




#bubble-container {
    width: 50%;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
}

.clickBubb {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    /* Semi-transparent white */
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: clickBubb 4s ease-in-out infinite;
    /* Animation */
}

@keyframes clickBubb {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    

    100% {
        transform: translateY(-100vh) scale(0.6);
        opacity: 0.4;
    }
}







.page{
    width: 100vw;
    height: 100vh;
}
#page1 #waterWave{
    @include background('../images/water-surface.png');
    height: 70vh;
    filter: url("#noise");
  -webkit-filter: url('#noise');
}

body {
    overflow: auto;
}
.masonry {
    columns: 300px; /* Set the width of each column */
    column-gap: 10px; /* Gap between columns */
}

.masonry figure {
    break-inside: avoid; /* Prevents figures from breaking between columns */
    margin-bottom: 10px; /* Space between figures */
}

.masonry img {
    width: 100%; /* Make images responsive */
    display: block; /* Remove bottom space */
    margin-bottom: 10px;
}
